<div class="navbar">
  <div class="nav-button">
    <a class="intro-color" routerLink="/">{{ "intro" | translate }}</a>
  </div>
  <div class="nav-button">
    <a class="needs-color" routerLink="/needs">{{ "needs" | translate }}</a>
  </div>
  <div class="nav-button">
    <a class="cskills-color" routerLink="/current-skills">{{ "cskills" | translate }}</a>
  </div>
  <div class="nav-button">
    <a class="motivation-color" routerLink="/motivation">{{ "motivation" | translate }}</a>
  </div>
  <div class="nav-button">
    <a class="personality-color" routerLink="/personality">{{ "personality" | translate }}</a>
  </div>
  <div class="nav-button">
    <a class="lhistory-color"  routerLink="/lbackground">{{ "lhistory" | translate }}</a>
  </div>
  <div class="nav-button">
    <a class="profile-color" routerLink="/profile">{{ "myprofile" | translate }}</a>
  </div>
</div>
