<div class="navbar">
  <div class="nav-button">
    <a id="intro-button" routerLink="/">{{ "intro" | translate }}</a>
  </div>
  <div class="nav-button">
    <a id="needs-button" routerLink="/needs">{{ "needs" | translate }}</a>
  </div>
  <div class="nav-button">
    <a id="cskills-button" routerLink="/current-skills">{{ "cskills" | translate }}</a>
  </div>
  <div class="nav-button">
    <a id="motivation-button" routerLink="/motivation">{{ "motivation" | translate }}</a>
  </div>
  <div class="nav-button">
    <a id="personality-button" routerLink="/personality">{{ "personality" | translate }}</a>
  </div>
  <div class="nav-button">
    <a id="lhistory-button"  routerLink="/lbackground">{{ "lhistory" | translate }}</a>
  </div>
  <div class="nav-button">
    <a id="profile-button" routerLink="/profile">{{ "profile" | translate }}</a>
  </div>
</div>
