.navbar {
  width: 95.35%;
  margin: 0 auto;
}

.navbar a {
  text-decoration: none;
}

.nav-button {
  font-size: 0.7em;
  font-family: arial;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 3px;
  background: linear-gradient(#d4d4d4, #acacac);
  width: 13.65%;
  display: inline-block;
  text-align: center;
  padding: 4px 0;
}
