<div class="navbar pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a routerLink="/" class="pure-menu-link">Intro</a></li>
    <li class="pure-menu-item"><a routerLink="/needs" class="pure-menu-link">Needs</a></li>
    <li class="pure-menu-item"><a routerLink="/current-skills" class="pure-menu-link">Current Skills</a></li>
    <li class="pure-menu-item"><a routerLink="/motivation" class="pure-menu-link">Motivation</a></li>
    <li class="pure-menu-item"><a routerLink="/personality" class="pure-menu-link">Personality</a></li>
    <li class="pure-menu-item"><a routerLink="/lbackground" class="pure-menu-link">Learning History</a></li>
    <li class="pure-menu-item"><a routerLink="/profile" class="pure-menu-link">My Profile</a></li>
  </ul>
</div>
