<app-navbar></app-navbar>
<div>
  <div class="ref-bubbles">
    <div class="pure-g">
      <div class="pure-u-1-4">
        <a><span (click)="showDetail(1)" [innerHTML]="'lhistory-ref.1' | translate"></span></a>
        <div><img src="assets/images/kupla_y1.gif" alt="speech bubble"></div>
      </div>
      <div class="pure-u-1-4">
        <a><span (click)="showDetail(2)" [innerHTML]="'lhistory-ref.2' | translate"></span></a>
        <div><img src="assets/images/kupla_y2.gif" alt="speech bubble"></div>
      </div>
      <div class="pure-u-1-4">
        <a><span (click)="showDetail(3)" [innerHTML]="'lhistory-ref.3' | translate"></span></a>
        <div><img src="assets/images/kupla_y3.gif" alt="speech bubble"></div>
      </div>
      <div class="pure-u-1-4">
        <a><span (click)="showDetail(4)" [innerHTML]="'lhistory-ref.4' | translate"></span></a>
        <div><img src="assets/images/kupla_y1.gif" alt="speech bubble"></div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-4">
        <a><span (click)="showDetail(5)" [innerHTML]="'lhistory-ref.5' | translate"></span></a>
        <div><img src="assets/images/kupla_y2.gif" alt="speech bubble"></div>
      </div>
      <div class="pure-u-1-4">
        <a><span (click)="showDetail(6)" [innerHTML]="'lhistory-ref.6' | translate"></span></a>
        <div><img src="assets/images/kupla_y3.gif" alt="speech bubble"></div>
      </div>
      <div class="pure-u-1-4">
        <a><span (click)="showDetail(7)" [innerHTML]="'lhistory-ref.7' | translate"></span></a>
        <div><img src="assets/images/kupla_y1.gif" alt="speech bubble"></div>
      </div>
      <div class="pure-u-1-4">
        <a><span (click)="showDetail(8)" [innerHTML]="'lhistory-ref.8' | translate"></span></a>
        <div><img src="assets/images/kupla_y2.gif" alt="speech bubble"></div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-4">
        <a><span (click)="showDetail(9)" [innerHTML]="'lhistory-ref.9' | translate"></span></a>
        <div><img src="assets/images/kupla_y3.gif" alt="speech bubble"></div>
      </div>
      <div class="pure-u-1-4">
        <a><span (click)="showDetail(10)" [innerHTML]="'lhistory-ref.10' | translate"></span></a>
        <div><img src="assets/images/kupla_y1.gif" alt="speech bubble"></div>
      </div>
      <div class="pure-u-1-4">
        <a><span (click)="showDetail(11)" [innerHTML]="'lhistory-ref.11' | translate"></span></a>
        <div><img src="assets/images/kupla_y2.gif" alt="speech bubble"></div>
      </div>
      <div class="pure-u-1-4">
        <a><span (click)="showDetail(12)" [innerHTML]="'lhistory-ref.12' | translate"></span></a>
        <div><img src="assets/images/kupla_y3.gif" alt="speech bubble"></div>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-2 needs-ref-images">
      <img src="assets/images/a_pieni_ohistoria.gif" alt="little picture">
      <img src="assets/images/a_ryhma_ohistoria.gif" alt="little picture">
    </div>
    <div class="pure-u-1-2">
      <div *ngIf="sound != null">
        <audio id="sounds" src="./assets/sounds2016/kaleidoscope-{{ sound }}.mp3"></audio>
        <img src="assets/images/play-sound-icon.png" title="High Volume" width="20" onclick="document.getElementById('sounds').play()">
      </div>
      <div class="ref-response" [innerHTML]="target"></div>
    </div>
  </div>
  <div class="pure-g comment-box">
    <div class="pure-u-1-2">
      <div class="inner-comment-box">
        <p class="comment-box-header" [innerHTML]="'lhistory-ref.your-lhistory' | translate"></p>
        <p [innerHTML]="'lhistory-ref.your-lhistory-text' | translate"></p>
      </div>
    </div>
    <div class="pure-u-1-2">
      <div class="inner-comment-box">
        <div [innerHTML]="'ref-general.save' | translate"></div>
        <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
          <textarea name="lhistory" [(ngModel)]="profile.lhistory" id="lhistory" cols="45" rows="4"></textarea>
          <div class="successful" *ngIf="showSuccess">{{ "ref-general.success" | translate }}</div>
          <div>
            <button class="pure-button" type="submit" [innerHTML]="'ref-general.save-to' | translate"></button>
            <button class="pure-button" type="button" (click)="f.resetForm()" [innerHTML]="'ref-general.clear' | translate"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
