<div class="container">
  <div class="pure-g">
    <div class="language-bar pure-u-1">
      <span class="grey left-lbar"></span>
      <span class="triangle bottomleft"></span>
      <span class="space-lbar"></span> <!-- long white flexy bit -->
      <span class="triangle bottomright"></span>
      <span class="suomeksi" (click)="changeLang('fi')">Suomeksi</span>
      <span class="triangle topleft"></span>
      <div class="grey english" (click)="changeLang('en')">In English</div>
      <span class="triangle bottomright"></span>
    </div>
    <div class="pure-u-1">
      <img *ngIf="translate.currentLang === 'en'" src="assets/images/body_kalen.gif" alt="logo" class="pure-img logo">
      <img *ngIf="translate.currentLang === 'fi'" src="assets/images/body_kalfi.gif" alt="logo" class="pure-img logo">
    </div>
  </div>
  <router-outlet></router-outlet>
  <hr>
  <footer>
    <p>© 2004 Rights granted for academic use without adaptation and use to include this statement. All other rights reserved.</p>
    <p>Content: Felicity Kjisik and Leena Karlsson.</p>
    <p>Realization: The Virtual University Unit of University of Art and Design Helsinki & The University of Helsinki Language Centre</p>
  </footer>
</div>
