<app-navbar></app-navbar>
<div class="pure-g">
  <div class="pure-u-1 pure-u-md-2-5 skill-left">
    <img src="assets/images/ajatus_needs.gif" alt="picture of thought bubble containing needs" class="skill-left-image">
    <img src="assets/images/red_woman.gif" alt="picture of red woman on phone" class="skill-left-image">
  </div>
  <div class="pure-u-1 pure-u-md-3-5 skill-right">
    <div class="skill-right-text needs1">
      <p>Needs arise from a combination of factors. It's worth thinking about these factors, bearing in mind that needs may be either concrete, such as writing an essay,  or more psychological e.g. overcoming inhibition.</p>

      <p>What languages and what specific language skills and purposes are important for you at university?</p>

      <p>And how about later on in life?</p>

      <p>Does motivation affect your needs, or perhaps vice-versa? If so, in what way?</p>

      <p>Is there anything that you think could be useful but that you have been avoiding? Do you  rarely stray from your comfort zone?</p>

  		<p>At times our needs are not too clear: self-reflection on our learning process  may help us specify and prioritise them.</p>
    </div>
    <div class="click-here" routerLink="reflect">
      <div class="click-here-text">Click here to join the dialogue and start your own reflection process</div>
    </div>
  </div>
</div>
