<app-navbar></app-navbar>
<div>
  <div class="ref-bubbles">
    <div class="pure-g">
      <div class="pure-u-1-4">
        <a><span (click)="showDetail(1)" [innerHTML]="'needs-ref.1' | translate"></span></a>
        <div><img src="/assets/images/kupla_r1.gif" alt="speech bubble"></div>
      </div>
      <div class="pure-u-1-4">
        <a><span (click)="showDetail(2)" [innerHTML]="'needs-ref.2' | translate"></span></a>
        <div><img src="/assets/images/kupla_r2.gif" alt="speech bubble"></div>
      </div>
      <div class="pure-u-1-4">
        <a><span (click)="showDetail(3)" [innerHTML]="'needs-ref.3' | translate"></span></a>
        <div><img src="/assets/images/kupla_r3.gif" alt="speech bubble"></div>
      </div>
      <div class="pure-u-1-4">
        <a><span (click)="showDetail(4)" [innerHTML]="'needs-ref.4' | translate"></span></a>
        <div><img src="/assets/images/kupla_r1.gif" alt="speech bubble"></div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-4">
        <a><span (click)="showDetail(5)" [innerHTML]="'needs-ref.5' | translate"></span></a>
        <div><img src="/assets/images/kupla_r2.gif" alt="speech bubble"></div>
      </div>
      <div class="pure-u-1-4">
        <a><span (click)="showDetail(6)" [innerHTML]="'needs-ref.6' | translate"></span></a>
        <div><img src="/assets/images/kupla_r3.gif" alt="speech bubble"></div>
      </div>
      <div class="pure-u-1-4">
        <a><span (click)="showDetail(7)" [innerHTML]="'needs-ref.7' | translate"></span></a>
        <div><img src="/assets/images/kupla_r1.gif" alt="speech bubble"></div>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-2 needs-ref-images">
      <img src="/assets/images/a_pieni_tarpeet.gif" alt="little picture">
      <img src="/assets/images/a_ryhma_tarpeet.gif" alt="little picture">
    </div>
    <div class="pure-u-1-2">
      <div *ngIf="sound != null">
        <audio id="sounds" src="./assets/sounds2016/kaleidoscope-{{ sound }}.mp3"></audio>
        <img src="https://maxcdn.icons8.com/windows8/PNG/26/Media_Controls/volume_up-26.png" title="High Volume" width="20" onclick="document.getElementById('sounds').play()">
      </div>
      <div class="ref-response" [innerHTML]="target"></div>
    </div>
  </div>
  <div class="pure-g comment-box">
    <div class="pure-u-1-2">
      <div class="inner-comment-box">
        <p class="comment-box-header" [innerHTML]="'needs-ref.your-needs' | translate"></p>
        <p [innerHTML]="'needs-ref.your-needs-text' | translate"></p>
      </div>
    </div>
    <div class="pure-u-1-2">
      <div class="inner-comment-box">
        <div [innerHTML]="'ref-general.save' | translate"></div>
        <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
          <textarea name="needs" [(ngModel)]="profile.needs" id="needs" cols="45" rows="4"></textarea>
          <div>
            <button type="submit" [innerHTML]="'ref-general.save-to' | translate"></button>
            <button (click)="this.profile.needs = null" [innerHTML]="'ref-general.clear' | translate"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
