<app-navbar></app-navbar>

<div class="profile-intro" [innerHTML]="'profile.text' | translate"></div>
<div class="profile-block">
  <h5 class="needs-color">{{ "needs" | translate }}</h5>
  <p>{{ profile.needs }}</p>
</div>
<div class="profile-block">
  <h5 class="cskills-color">{{ "cskills" | translate }}</h5>
  <p>{{ profile.cskills }}</p>
</div>
<div class="profile-block">
  <h5 class="motivation-color">{{ "motivation" | translate }}</h5>
  <p>{{ profile.motivation }}</p>
</div>
<div class="profile-block">
  <h5 class="personality-color">{{ "personality" | translate }}</h5>
  <p>{{ profile.personality }}</p>
</div>
<div class="profile-block">
  <h5 class="lhistory-color">{{ "lhistory" | translate }}</h5>
  <p>{{ profile.lhistory }}</p>
</div>
<div class="profile-block">
  <h5 class="profile-color">{{ "feedback" | translate }}</h5>
  <p class="profile-feedback">{{ "profile.feedback" | translate }}</p>
  <textarea name="feedback" id="feedback" cols="60" rows="4" [(ngModel)]="feedback"></textarea>
</div>
<hr>
<div class="profile-form">
  <h3>{{ "profile.alms-only" | translate }}:</h3>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="pure-form pure-form-aligned">
    <fieldset>
      <div class="pure-control-group">
        <label for="name">{{ "profile.name" | translate }}:</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="studentName"
          name="studentName">
      </div>
      <div class="pure-control-group">
        <label for="faculty">{{ "profile.faculty" | translate }}:</label>
        <input
          type="text"
          id="faculty"
          [(ngModel)]="faculty"
          name="faculty">
      </div>
      <div class="pure-control-group">
        <label for="teacher"></label>
        <select
          id="teacher"
          name="teacher"
          [(ngModel)]="teacher">
          <option value="">{{ "profile.select" | translate }}</option>
          <option value="leena.karlsson@helsinki.fi">leena.karlsson@helsinki.fi</option>
          <option value="kenneth.kidd@helsinki.fi">kenneth.kidd@helsinki.fi</option>
          <option value="satu.vonboehm@helsinki.fi">satu.vonboehm@helsinki.fi</option>
          <option value="sandro.amendolara@helsinki.fi">sandro.amendolara@helsinki.fi</option>
          <option value="kirby.vincent@helsinki.fi">kirby.vincent@helsinki.fi</option>
          <option value="robert.moncrief@helsinki.fi">robert.moncrief@helsinki.fi</option>
          <option value="fergal.bradley@helsinki.fi">fergal.bradley@helsinki.fi</option>
          <option value="michele.simeon@helsinki.fi">michele.simeon@helsinki.fi</option>
          <option value="jonathon.martin@helsinki.fi">jonathon.martin@helsinki.fi</option>
        </select>
      </div>
      <div class="pure-controls">
        <label for="option-one" class="pure-checkbox">
          <input
            id="option-one"
            type="checkbox"
            value=""
            name="noTeacher"
            ngModel>
            {{ "profile.no-teach" | translate }}
        </label>
      </div>
      <div class="pure-controls">
        <label for="t-email">{{ "profile.teach-email" | translate }}: </label>
        <input
          type="email"
          id="t-email"
          [(ngModel)]="teacherEmail"
          name="teacherEmail">
      </div>
      <div class="pure-controls">
        <label for="t-email">{{ "profile.address" | translate }}</label>
        <input
          type="email"
          [(ngModel)]="studentEmail"
          name="studentEmail">
      </div>
      <!-- Notes: I had to switch the node based email with a mailto. As a result it has been necessary to comment out code below as well as add ngModels to the fields above. These should be switched back to simple ngModel if we revert to a backend email. -->
      <div class="pure-controls">
        <button *ngIf="!submitted" type="submit" class="pure-button">{{ "profile.send" | translate }}</button>
        <!-- <button class="pure-button">
          <a 
            class="pure-button"
            [href]="'mailto:' + teacher + ',' + teacherEmail + '?subject=Kaleidoscope Profile&cc=' + studentEmail + '&body=' +
            'Name: ' + studentName + '%0A%0A' +
            'Faculty: ' + faculty + '%0A%0A' +
            'Needs:%0A%0A' +
            profile.needs + '%0A%0A' +
            'Current Skills:%0A%0A' +
            profile.cskills + '%0A%0A' +
            'Motivation:%0A%0A' +
            profile.motivation + '%0A%0A' +
            'Personality:%0A%0A' +
            profile.personality + '%0A%0A' +
            'Learning History:%0A%0A' +
            profile.lhistory + '%0A%0A' +
            'Feedback:%0A%0A' +
            feedback">
              {{ "profile.send" | translate }}
          </a>
          
          
          </button> -->
          <button *ngIf="submitted" type="button" class="pure-button button-success">{{ "profile.sent" | translate }}</button>
        <button *ngIf="!submitted" type="button" (click)="f.resetForm()" class="pure-button">{{ "profile.clear" | translate }}</button>
      </div>
    </fieldset>
  </form>
</div>
