.profile-intro {
  font-family: verdana;
  font-size: 0.8em;
  padding: 20px;
}

.profile-block {
  padding: 1px 20px 0 20px;
  margin: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  min-height: 120px;
}

.profile-feedback {
  font-family: verdana;
  font-size: 0.8em;
}

.profile-form {
  font-size: 0.8em;
  margin-left:20px;
}
