/* General */

body { font-family: 'Roboto', sans-serif; }


a {
  color: #ffffff;
  cursor: pointer;
}

.intro-color { color: #666666}
.needs-color { color: #CC0000}
.cskills-color { color: #3333D6}
.motivation-color { color: #CC00CC}
.personality-color { color: #009933}
.lhistory-color { color: #FCDC01}
.profile-color { color: #666666}

textarea { padding: 10px }

/*Skill Styles*/

.skill-left, .skill-right {
  margin: 20px 20px 40px 0;
}

.skill-right {
  width: 50%;
}

.skill-right img {
   cursor: pointer;
}

.skill-right-text {
  padding: 20px;
  font-size: 0.9em;
  border-radius: 5px;
  line-height: 1.5;
}

.skill-left-image {
  display: block;
  margin: 15px auto 0 auto;
}

.click-here {
  position: relative;
  bottom: 0;
  margin-top: 20px;
  padding: 10px;
  background-color: #cccccc;
  font-size: 0.8em;
  color: #000000;
  border-radius: 5px;
  line-height: 1.5;
  vertical-align: bottom;
}

.click-here-text {
  width: 75%;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

/* Ref Styles */

.ref-bubbles, .ref-bubbles a {
  text-align: center;
  margin: 20px 0 20px 0;
  padding: 10px;
  line-height: 15px;
  font-size: 11px;
  color: #999999;
}

.ref-bubbles div {
  margin-bottom: 5px;
}

.ref-bubbles div div span {
  padding: 10px 10px 0 10px;
}

.ref-response {
  border-radius: 5px;
  font-size: 0.8em;
  margin-right: 40px;
  padding: 15px;
  line-height: 1.6em;
}

.needs-ref-images {
  width: 40%;
  margin: 0 auto;
}

.comment-box {
  background-color: #f0f0f0;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
}

.comment-box textarea {
  border-radius: 5px;
}

.inner-comment-box {
  padding: 10px;
}

.comment-box-header {
  color: #858585;
  font-weight: bolder;
}

.comment-box div, .comment-box h4, .comment-box p {
  font-size: 0.97em;
  line-height: 1.4em; 
}

.successful {
  padding: 6px;
  background-color: #009933;
  width: 150px;
  text-align: center;
  color: white;
  border-radius: 3px;
  margin-bottom: 5px;
}
