.intro-text-left {
  width: 41%;
  margin: 15px 0 10px 20px;
  padding: 0 20px 20px 20px;
  background-color: #CCCCCC;
  font-size: 0.85em;
  border-radius: 5px;
  line-height: 1.5;
}

.intro-text-right {
  width: 41%;
  margin: 15px 20px 10px 0;
  padding: 0 20px 20px 20px;
  font-size: 0.8em;
  line-height: 1.7;
}

.menu {
  margin-top: 30px;
  font-size: 1.4em;
  font-weight: 600;
}

.menu ul {
  list-style: none;
}

.needs, .cskills, .motivation, .personality, .lbackground {
  cursor: pointer;
}

.needs { color: #cc0000 }
.cskills { color: #3333d6 }
.motivation { color: #cc00cc }
.personality { color: #33cc00 }
.lbackground { color: #fcdc01 }

.woman-laying { margin-top: 30px; }

.llimplies {
  display: block;
  margin: 0 auto;
}
